<div style="background-color: #dddddd; height: 40px;">
<table style="border: 0px solid black; margin-bottom: 0px; height: 40px;"><tr>
	<td style="border: 0px solid black; padding: 0px;">
	   <span style="font-family: Arial; font-size: 12px; color: black; vertical-align: middle; display: table-cell; padding-left: 20px;">
    	 &#169; Copyright 2020, IBM
	   </span>
   </td><td style="border: 0px solid black; padding: 0px;">
   <span style="font-family: Arial; font-size: 12px; padding-right: 20px; float: right;">
   		<a href="https://github.com/Alvearie/alvearie.github.io/issues" target="_blank" style="color: black;">
   		<img src="/images/githubIcon.png" height=15>&nbsp;&nbsp;Suggest an edit on GitHub </a>
   </span>
</td></tr></table>
</div>
