<div 
     style="background-image: url(https://developers.redhat.com/sites/default/files/styles/billboard/public/AssemblyBackgrounds_RHDBG_dark5.jpg?itok=zbewlSA4); 
     height: 120px; vertical-align: middle; ">
    <table style="border: 0px solid black;"><tr><td width=90 style="border: 0px solid black;">
	    <img src="images/alvearieTransparent.png" height=90px;>
	    </td><td style="border: 0px solid black;">
	    <span style="font-family: Arial; color: white;">
     <font size=+3><b>Alvearie</b></font><br>
     An open source data services and analytics pipeline to enable healthcare ecosystem innovation
     </span>
     </td></tr>
     </table>
</div>
