<div 
     style="background-image: url(https://developers.redhat.com/sites/default/files/styles/billboard/public/AssemblyBackgrounds_RHDBG_dark5.jpg?itok=zbewlSA4); 
     vertical-align: top; ">
    <table style="border: 0px solid black; margin-bottom: 0px;"><tr><td valign=top style="border: 0px solid black; width: 90px">
	    <img src="/images/alvearieTransparent.png" style="max-height: 90px; max-width: 90px">
	    </td><td style="border: 0px solid black;">
	    <span style="font-family: Arial; color: white;">
     <font size=+3><b>Alvearie</b></font><br>
     An open source data services and analytics pipeline to enable healthcare ecosystem innovation
     </span>
     </td></tr>
     </table>
</div>
