<style>
.link {
	padding-right: 5px; 
	padding-left: 5px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	color: #ffffff;
	font-family: Arial;
}
.link:visited {
	color: #ffffff;
}
</style>
<div 
     style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url(https://developers.redhat.com/sites/default/files/styles/billboard/public/AssemblyBackgrounds_RHDBG_dark5.jpg?itok=zbewlSA4); 
     vertical-align: top; ">
    <table style="border: 0px solid black; margin-bottom: 0px;">
    	<tr><td  style="border: 0px solid black; padding: 0px;">
    	<nobr>
	    <img src="/images/alvearieTransparent.png" style="max-height: 45px; max-width: 45px; vertical-align: middle;">
	    <span style="font-family: Arial; color: white; padding-top: 5px; vertical-align: middle;"><font size=+2><b>Alvearie</b></font><br></span>
	    </nobr>
	    </td><td style="border: 0px solid black; padding: 0px; text-align: right;">
     	<span style="padding-right: 25px;">
	     	<a href="/" class="link"><nobr>Overview</nobr></a> &nbsp;&nbsp;
	     	<a href="/architecture" class="link"><nobr>Architecture</nobr></a> &nbsp;&nbsp;
	     	<a href="/usecases" class="link"><nobr>Use Cases</nobr></a> &nbsp;&nbsp;
	     	<a href="/services" class="link"><nobr>Services</nobr></a> &nbsp;&nbsp;
	     	<a href="/blog" class="link"><nobr>Blog</nobr></a> &nbsp;&nbsp;
	     	<a href="/getInvolved" class="link"><nobr>Get Involved</nobr></a> 
	     	
     	</span>
     	</td></tr>
     </table>
</div>
