<style>
.card {
	margin: 10px;
	padding-right: 20px; 
	padding-left: 20px; 
	padding-top: 5px; 
	padding-bottom: 20px; 
	background-color: #dddddd;
	font-family: Arial;
}

</style>

<div style="background-color: black; color: white;  text-align: right; padding-top: 20px; padding-bottom: 20px;">

	<span style="font-family: Arial; font-size: 30px; color: white; padding-right: 25px; vertical-align: middle; ">
	An open source project to enable <b>healthcare innovation</b></span>

 
</div>

<div style="margin-left: 50px;">
<p></p>
<p>
Project Alvearie is an open-source project bringing together contributors from across the health and life sciences 
ecosystem for collaboration around common and pervasive challenges in creating applications, analytics, or software 
that uses health data. Together, our mission is to build a set of an extensible, modular and scalable multi-cloud data 
and analytics components that can help organizations improve care delivery and operate more efficiently in a highly regulated environment.
</p><p>
Developers can access a collection of assets capable of ingesting and orchestrating FHIR, HL7, DICOM, and X12, and leveraging Apache Spark 
and Flink for distributed big data processing and analytics. Developers can also leverage or contribute to reference implementations that 
highlight how to combine various technologies into meaningful patterns for healthcare.
</p>

<h2>Key Objectives</h2>

<table style="border: 0px solid black;"><tr>
<td style="border: 0px solid black; padding: 0px;" valign=top>
	<div class="card">
	<center><img src="/images/ecosystem.png" height=100><br></center>
	Transform healthcare technology through an open ecosystem with composable services aligned with open standards delivered via cloud agnostic open technology
	</div>
</td><td style="border: 0px solid black; padding: 0px;" valign=top>
	<div class="card">
	<center><img src="/images/components.png" height=100><br></center>		
	Build an extensible, modular, scalable set of components that can be pipelined aligned with common industry-standard data models
	</div>
</td><td style="border: 0px solid black; padding: 0px;" valign=top>
	<div class="card">
	<center><img src="/images/refImplIcon.png" height=100><br></center>		
	Be the leading reference implementations that highlight how to combine various technologies into meaningful patterns for healthcare
	</div>
</td></tr></table>



<h2>Open Source</h2>
Alvearie is utilizing key, established open source projects and communities, including:
<ul>
<li>OpenShift</li>
<li>Apache Spark</li>
<li>Apache Nifi</li>
<li>Apache Kafka</li>
<li>Apache Camel</li>
<li>Apache Flink</li>
<li>NATS</li>
<li>dcm4che</li>
<li>Mirth</li>
<li>HAPI</li>
<li>CQL Engine</li>

</ul>



</div>