<div style="margin-left: 50px;">

<h2><b>What is Project Alvearie?</b></h2>

<p>The healthcare industry is evolving rapidly. Regulatory and cost pressures, interoperability requirements, and the changing delivery of care are creating an environment where developers are at the forefront of transformation.</p>
<p>Project Alvearie allows developers to leverage and build upon a collection of interoperable healthcare-specific data services and analytics tools developed by IBM, ecosystem partners, and the wider developer community. With those components, developers can build upon end-to-end healthcare data capabilities to solve for data access, ingestion, integration and analytics.</p>
<p>Better data flow means faster, smarter insights, which allows health enterprises to build innovative solutions that improve patient experience, quality of care, regulatory compliance, and IT costs. Health enterprises also benefit from an easy on-ramp to IBM professional services and capabilities.</p>

<table><tr><td valign=top>
<h2>Key Objectives / Features</h2>
<ul>
<li>Establish and grow an open ecosystem within the healthcare industry</li>
<li>Build and extensible, modular, scalable set of components supporting multiple cloud environments</li>
<li>Define reference implementations that highlight how to combine various technologies into meaningful patterns for healthcare</li>
</ul>

</td><td valign=top>
<h2>Open Source</h2>
Alvearie is utilizing key, established open source projects and communities, including:
<ul>
<li>OpenShift</li>
<li>Apache Spark</li>
<li>Apache Nifi</li>
<li>Apache Kafka</li>
<li>Apache Camel</li>
<li>Apache Flink</li>
<li>NATS</li>
<li>dcm4che</li>
<li>Mirth</li>
<li>HAPI</li>
<li>CQL Engine</li>

</ul>

</td></tr></table>

</div>