<div style="margin-left: 20px;">

<h2><b>What is Project Alvearie?</b></h2>

<p>The healthcare industry is evolving rapidly. Regulatory and cost pressures, interoperability requirements, and the changing delivery of care are creating an environment where developers are at the forefront of transformation.</p>
<p>Project Alvearie allows developers to leverage and build upon a collection of interoperable healthcare-specific data services and analytics tools developed by IBM, ecosystem partners, and the wider developer community. With those components, developers can build upon end-to-end healthcare data capabilities to solve for data access, ingestion, integration and analytics.</p>
<p>Better data flow means faster, smarter insights, which allows health enterprises to build innovative solutions that improve patient experience, quality of care, regulatory compliance, and IT costs. Health enterprises also benefit from an easy on-ramp to IBM professional services and capabilities.</p>
</div>