<div style="margin-left: 50px;">
<style>
.githublink {
	background-color: #3988bd; 
	padding-right: 10px; 
	padding-left: 10px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	color: #ffffff;
	
}
.githublink:visited {
	color: #ffffff;
}
.doclink {
	background-color: #3968bd; 
	padding-right: 10px; 
	padding-left: 10px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	color: #ffffff;
	
}
.doclink:visited {
	color: #ffffff;
}</style>

<p>Alvearie is made up of many individual services and components that can be used together to build a health data pipeline.  
Below is a starter list of those services, which will be growing over time.</p>

<table style="width: 80%; border: 1px solid #666666; padding: 30px;">

	<tr>
		<td><nobr>Linux for Health Connect</nobr></td>
		<td>LinuxForHealth (LFH) is a distributed processing network operating system which allows edge devices (IoT, workstations, app servers) to connect directly to health care transaction systems. The processing model abstracts the need for intermediary third-party organizations, resulting in a developer-extensible trust protocol.</td>
		<td><a href="https://github.com/LinuxForHealth/connect" target="_blank" class="githublink"><nobr>Go to GitHub repository</nobr></a></td>
		<td><a href="https://linuxforhealth.github.io/docs/" target="_blank" class="doclink"><nobr>Documentation</nobr></a></td>
	</tr>

	<tr>
		<td><nobr>IBM FHIR Server</nobr></td>
		<td>IBM's implementation of the HL7 FHIR specification simplifies data management by allowing you to exchange disparate datasets between applications that were previously incompatible.</td>
		<td><a href="https://github.com/ibm/fhir" target="_blank" class="githublink"><nobr>Go to GitHub repository</nobr></a></td>
	</tr>

	<tr>
		<td><nobr>Health Record Ingestion</nobr></td>
		<td>A "front door" for data integrators to send healthcare data into the IBM cloud, while supporting both batch processing and data streaming workflows.</td>
		<td><a href="https://alvearie.github.io/HRI/" target="_blank" class="githublink"><nobr>Go to GitHub repository</nobr></a></td>
	</tr>

	<tr>
		<td><nobr>HRI Pipeline Adapters</nobr></td>
		<td>NiFi flows that consume data from the Health Record Ingestion service</td>
		<td><a href="https://github.com/Alvearie/hri-pipeline-adapters" target="_blank" class="githublink"><nobr>Go to GitHub repository</nobr></a></td>
	</tr>

	<tr>
		<td><nobr>Data De-Identification</nobr></td>
		<td>A wide range of de-identification capabilities designed to support GDPR, HIPAA, CCPA and other privacy frameworks allowing organizations to meet their regulatory and privacy requirements.</td>
		<td><a href="https://github.com/Alvearie/de-identification" target="_blank" class="githublink"><nobr>Go to GitHub repository</nobr></a></td>
	</tr>

	<tr>
		<td><nobr>Quality Measure and Cohort Service</nobr></td>
		<td>Service to evaluate quality measure and cohort specifications against a target patient data set.</td>
		<td><a href="https://github.com/Alvearie/quality-measure-and-cohort-service" target="_blank" class="githublink"><nobr>Go to GitHub repository</nobr></a></td>
	</tr>

	<tr>
		<td><nobr>Alvearie FHIR Implementation Guide</nobr></td>
		<td>A FHIR Implementation Guide that extends the US Core IG.</td>
		<td><a href="https://github.com/Alvearie/alvearie-fhir-ig" target="_blank" class="githublink"><nobr>Go to GitHub repository</nobr></a></td>
	</tr>


	<tr>
		<td><nobr>HL7 Ingestion Service</nobr></td>
		<td>A service that transforms HL7 messages into a bundle FHIR resource.</td>
		<td><a href="https://github.com/Alvearie/hl7-resource-generator-service" target="_blank" class="githublink"><nobr>Go to GitHub repository</nobr></a></td>
	</tr>
	
	<tr>
		<td><nobr>HL7 to FHIR Converter</nobr></td>
		<td>A java-based library that enables conversion of HL7 v2 messages to FHIR resources</td>
		<td><a href="https://github.com/LinuxForHealth/hl7v2-fhir-converter" target="_blank" class="githublink"><nobr>Go to GitHub repository</nobr></a></td>
	</tr></table>

</div>