<div style="margin-left: 50px;">

<style>
.learnmore {
	background-color: #3988bd; 
	padding-right: 10px; 
	padding-left: 10px; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	color: #ffffff;
	margin-top: 5px;	
}
.learnmore:visited {
	color: #ffffff;
}
.usecasecard {
	background-color: #bbbbff;
	padding-right: 10px; 
	padding-left: 10px; 
	padding-top: 10px; 
	padding-bottom: 10px;
	max-width: 600px;
}
.patterncard {
	background-color: #bbffbb;
	padding-right: 10px; 
	padding-left: 10px; 
	padding-top: 10px; 
	padding-bottom: 10px;
	max-width: 600px;
}
</style>

<table><tr><td valign=top>
<center><h2>Use Cases</h2></center>
	<div class="usecasecard">
	<img src="/images/interopIcon.png" style="height: 120px; align: top;">
	<span style="font-size: 26px; font-weight: bold;">Interoperability</span><br clear="left">
	<span>When healthcare data can be exchanged between disconnected systems, it's easier to draw the insights that feed innovative solutions for patient care, consumer experiences, clinical breakthroughs, and business efficiency. Join developers working to improve health data interoperability through projects focused on data ingestion, enrichment and more.</span>
	<p></p>
	<center><a href="" target="_blank" class="learnmore"><nobr>Learn More</nobr></a></center>
	</div>
	<p></p>
	
	<div class="usecasecard">
	<img src="/images/consent.png" style="height: 100px; align: top; padding-left: 20px; padding-right: 20px;">
	<span style="font-size: 26px; font-weight: bold;">Patient Consent</span><br clear="left">
	<span>Need description.  Comply with regulatory needs, reduce risk, simplify admin processes and reduce cost, improve data provenance and auditability.  Improved data sharing between providers, and drive insights from data.</span>
	<p></p>
	<center><a href="" target="_blank" class="learnmore"><nobr>Learn More</nobr></a></center>
	</div>
	<p></p>
	
	<div class="usecasecard">
	<img src="/images/xray-icon-13.jpg" style="height: 100px; align: top;">
	<span style="font-size: 26px; font-weight: bold;">&nbsp;AI Imaging Clearing House</span><br clear="left">
	<span>Need description.  Platform for ingestion of clinical and imaging data for patients which enables an AI workflow for radiologists</span>
	<p></p>
	<center><a href="" target="_blank" class="learnmore"><nobr>Learn More</nobr></a></center>
	</div>

</td><td valign=top>
<center><h2>Health Patterns</h2></center>
	<div class="patterncard">
	<img src="/images/ingestion.png" style="height: 100px; align: top; padding-left: 20px; padding-right: 20px;">
	<span style="font-size: 26px; font-weight: bold;">Clinical Data Ingestion</span><br clear="left">
	<span>This reference implementation will focus on the process of accepting data from a source system (EMR, Data Warehouse, etc), performing the necessary transformation & normalization and storing it in a persistence layer. Initial data formats supported will include HL7, FHIR and DICOM and this version will persist the data in an industry standard FHIR Server as well as the dcm4che image store.</span>
	<p></p>
	<center><a href="https://github.com/Alvearie/health-patterns/blob/main/docs/roadmap.md" target="_blank" class="learnmore"><nobr>Go to GitHub repository</nobr></a></center>
	</div>
	<p></p>
	<div class="patterncard">
	<img src="/images/enrichment.png" style="height: 100px; align: top; padding-left: 20px; padding-right: 20px;">
	<span style="font-size: 26px; font-weight: bold;">Clinical Data Enrichment</span><br clear="left">
	<span>Enrichment of clinical data through the use of Natural Language Processing (NLP), de-identification, or other services.</span>
	<p></p>
	<center><a href="https://github.com/Alvearie/health-patterns/blob/main/docs/roadmap.md" target="_blank" class="learnmore"><nobr>Go to GitHub repository</nobr></a></center>
	</div>
	<p></p>


</td></tr></table>
</div>